body {
    color: rgb(117, 57, 57);
    Background: rgb(107, 211, 10);
    margin: 0px;
    font-family: "BBH Sans Bartle", sans-serif;
}


header {
    border-bottom: solid 2px rgb(219, 98, 17);
    padding: 20px;
    font-size: 32px;
    color: rgb(207, 9, 9);

}

.chamada{
    background: rgb(106, 148, 106);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
      display: flex;
   overflow-x:auto;
   gap:10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}