body {
    color: rgb(0, 0, 0);
    Background: rgb(247, 7, 7);
    margin: 0px;
    font-family: "Stack Sans Headline", sans-serif;
    margin-bottom: 100px;
}


header {
    border-bottom: solid 2px rgb(0, 231, 123);
    padding: 20px;
    font-size: 32px;
    color: rgb(10, 94, 250);

}

.chamada{
    background: rgb(26, 26, 26);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-videos{
      display: flex;
   overflow-x:auto;
   gap:10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid gray;
}
.categoria h2{
    color: aqua;
}