body {
    color: rgb(0, 0, 0);
    Background: rgb(228, 0, 0);
    margin: 0px;
    font-family: "BBH Sans Bartle", sans-serif;
}


header {
    border-bottom: solid 2px rgb(234, 13, 230);
    padding: 20px;
    font-size: 32px;
    color: rgb(207, 9, 9);

}

.chamada{
    background: rgb(169, 58, 132);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
      display: flex;
   overflow-x:auto;
   gap:10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}