body {
    color: rgba(8, 99, 190, 0.623);
    background: rgb(122, 248, 12);
    margin: 0;
    font-family: "BBH Sans Bartle", sans-serif;
}

header {
    border-bottom: solid 2px rgb(20, 232, 229);
    padding: 20px;
    font-size: 32px;
    color: rgb(249, 128, 7);
}

.chamada {
    background: rgb(255, 6, 255);
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding: 0 20px;
}
