body{
  color:rgb(0, 0, 0);
  background:rgb(6, 44, 214); 
  margin:0px; 
  font-family: "BBH Sans Bartle",sans-serif;
}

header {
  border-bottom: solid 5px rgb(0, 0, 0);
  padding: 20px;
  font-size: 32px;
  color: rgb(219, 11, 11);

}
section {
 background: green;
 padding-bottom: 80px;
 padding-top: 80px;
 display: flex;
 justify-content:center ;
}

.chamada-texto{
  margin-right: 5%;
}